

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  25%, 75% {transform: translateX(-10px);}
  50% {transform: translateX(10px);}
}


.shake-it {
  animation-name: shake;
  animation-duration: 0.7s;
}